{% extends 'base.html' %}

{% block content %}
{% for field in cliente %}
<br>
<br>
<div class="col-lg-8">
        <div class="card">
                <div class="card-close">
                <a href="{% url 'cliente_edit' field.cpf %}" class="dropdown-item edit"><i class="fa fa-gear"></i></a>
                </div>

                      
                <div class="card-header d-flex align-items-center">
                                <h3 class="h4">Dados Pessoais</h3>
                    </div>
                <div class="card-body">
                    <!-- <div class="avatar"><img src="{{ field.photo.url }}" class="img-fluid rounded-circle" width="200px" height="200px"></div> -->
                    <b>Nome: </b> {{ field.nome }}  <br>
                    <b>CPF: </b> {{ field.cpf }} &nbsp;&nbsp;-&nbsp;&nbsp; <b>RG: </b> {{ field.rg }}  <br>
                    <b>Data de nascimento: </b> {{ field.data_nascimento }}  <br>
                    <b>Sexo: </b> {{ field.sexo }} <br>
                    
                    <hr class="my-3">
                    <b>Residencial: </b> {{ field.tel_fixo }} &nbsp;&nbsp;-&nbsp;&nbsp; <b>Celular: </b> {{ field.tel_cel }} &nbsp;&nbsp;-&nbsp;&nbsp;
                    <b>Emergência: </b> {{ field.tel_emergency }}  &nbsp;&nbsp;-&nbsp;&nbsp; <b>E-mail: </b> {{ field.email }}  <br>

                    <hr class="my-3">
                    <b>Endereço: </b><br>
                    {{ field.logradouro }}, {{ field.numero }} &nbsp; {{ field.complemento }}&nbsp;&nbsp; - &nbsp;&nbsp; {{ field.bairro }} <br>
                    {{ field.cidade }}  &nbsp;-&nbsp; {{ field.uf }}  <br>
                    {{ field.cep }}

                            </div>
                        </div>
                    </div>
{% endfor %}

{% endblock %}
